{% extends "@admin/layout.twig" %}

{% block title "Editer les articles"%}

{% block body %}
<table class="table table-striped">
  <thead>
    <tr>
      <td>Titre</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ paginate(items, 'admin.blog.index') }}
{% endblock %}
